[Unit]
Description=TrumpCoin's distributed currency daemon
After=network.target

[Service]
User=trumpcoin
Group=trumpcoin

Type=forking
PIDFile=/var/lib/trumpcoind/trumpcoind.pid

ExecStart=/usr/bin/trumpcoind -daemon -pid=/var/lib/trumpcoind/trumpcoind.pid \
          -conf=/etc/trumpcoin/trumpcoin.conf -datadir=/var/lib/trumpcoind

ExecStop=-/usr/bin/trumpcoin-cli -conf=/etc/trumpcoin/trumpcoin.conf \
         -datadir=/var/lib/trumpcoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
